body {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 23px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}
h3 {
  font-size: 18px;
  text-transform: uppercase;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
    outline: none;
}
p {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
a.btn_main,
.btn_main {
  width: 100%;
  height: 20px;
  background: #FFA30A;
  font-size: 13px;
  color: #fff;
  border-radius: 0;
  line-height: 20px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: none;
  -o-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}
a.btn_main:hover,
.btn_main:hover {
  background: #FFBA4A;
}
/* Header
------------------------------------------------------------------------------------ */
.header_container .header {
  padding-top: 50px;
  position: relative;
}
.header_container .container {
  position: relative;
}
.header_container .logo p {
  color: #4fc2bb;
  font-size: 15px;
  padding-left: 155px;
}
.header_container .logo a {
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 100;
}
.header_container .logo a img {
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
.header_container .logo a:hover img {
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.header_container .language {
  position: absolute;
  right: 15px;
  top: 0;
}
.header_container .language .sod_select,
.header_container .language .sod_option {
  width: 60px;
  height: 40px;
  background: #00C3BC;
  cursor: pointer;
  position: relative;
}
.header_container .language .sod_option:hover {

  background: #00DCD4;
}
.header_container .language .sod_list_wrapper {
  margin: 0;
  box-shadow: 1px 0 #fff,
              -1px 0 #fff;
}
.header_container .language .sod_option,
.header_container .language .sod_label {
  font-size: 15px;
  color: #fff;
  line-height: 40px;
  padding: 0;
  text-align: center;
  font-weight: normal;
}
.header_container .language .sod_label {
  text-align: left;
  padding-left: 5px;
}
.header_container .navbar {
  min-height: 40px;
  border: none;
  margin: 0;
  background: #00C3BC;
  border-radius: 0;
}
.header_container .navbar li a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  -o-transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
.header_container .navbar li.active a,
.header_container .navbar li.active a:hover,
.header_container .navbar li a:hover,
.header_container .navbar li.active a:focus {
  color: #fff;
  background: #00DCD4;
}
.header_container .navbar li a:focus {
  color: #fff;
}
/*  Main content
----------------------------------------------------------------------------------------------*/
.main_content {
  padding: 30px 0 50px;
}
.main_content  .imperator {
    margin-bottom: 60px;
}
.footer_container .footer_nav li {
  line-height: 34px;
}
.main_content .decision {
  text-align: center;
  margin-bottom: 50px;
}
.main_content .decision p {
  font-family: 'PT Sans', sans-serif;
  color: #212121;
}
.main_content .decision h2 {
  color: #212121;
}
.main_content .decision img {
  margin-bottom: 25px;
}
.main_content .decision a {
  display: block;
  margin: 0 56px;
}
.main_content .decision a:hover {
  text-decoration: none;
}
.main_content .decision a:hover p,
.main_content .decision a:hover h2 {
  color: #f9a22e;
}
.main_content .decision h2 {
  margin-bottom: 40px;
}
/* Last work
----------------------------------------------------------------------------------------------------*/
.last_work_container {
  border-top: 1px solid #d3f0ee;
  padding: 20px 0 0 0;
  text-align: center;
}
.last_work_container h1 {
  margin-bottom: 35px;
  font-size: 30px;
}
.last_work_container .work h3 {
  width: 100%;
  padding: 12px 0 12px;
  background: #ffa229;
}
.last_work_container .all_work {
  margin-bottom: 45px;
}
.last_work_container .work  {
  width: 220px;
  margin: auto;
}
.last_work_container .work img {
  width: 100%;
  margin-bottom: 20px;
}
.last_work_container .all_work p {
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  margin-bottom: 15px;
}
.details  {
  display: inline-block;
  font-size: 13px;
  color: #565656;
  float: left;
  font-family: 'PT Sans', sans-serif;
}
.details  span {
  display: block;
  float: left;
  margin-right: 24px;
  text-decoration: underline;
}
.details:hover span {
  text-decoration: none;
}
.details .arrow_right {
  background: url(../img/arrow.png);
  width: 20px;
  height: 20px;
  float: left;
  -o-transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
.details:hover .arrow_right {
   background: url(../img/arrow.png);
   background-position: 0px -20px;
}
/* Team
------------------------------------------------------------------------------------*/
.team_container {
  padding: 0px 0 30px;
}
.team_container h1 {
  margin-bottom: 40px;
}
.team_container .member_image {
  text-align: center;
}
.team_container .member_container {
  margin-top: 30px;
}
.team_container .member_container h2 {
  margin-bottom: 25px;
}
/* Portfolio
-------------------------------------------------------------------------------------*/
.portfolio_tabs .filter {
  text-align: center;
  margin-bottom: 50px;
}
.portfolio_tabs .filter ul {
  margin-top: 35px;
}
.portfolio_tabs .filter ul li {
  display:  inline-block;
  margin-right: 24px;
}
.portfolio_tabs .filter ul li a:hover,
.portfolio_tabs .filter ul li.active a {
  background: #ffa229;
  display: inline-block;
}
.portfolio_tabs .filter ul li:last-child {
  margin-right: 0px;
}
.portfolio_tabs .filter ul li a {
  color: #212121;
  font-size: 16px;
  text-transform: uppercase;
  padding: 4px 9px;
}
.portfolio_tabs .filter ul li a {
  text-decoration: none;
}
.portfolio_elements {
  border-bottom: 1px solid #d3f0ee;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.portfolio_elements img {
  width: 100%;
  margin-bottom: 30px;
  height: 360px;
  width: 400px;
  float: right;
}
div.portfolio_elements:last-child {
  border: none;
}
.portfolio_elements h3 {
  font-size: 28px;
  margin-bottom: 18px;
}
.portfolio_elements h3 a {
  color: #212121;
}
.portfolio_elements .element_content {
  min-height: 295px;
  padding-bottom: 30px;
}
.portfolio_elements .element_content p {
  margin-bottom: 27px;
}
.portfolio_elements .element_content a {
  font-size: 16px;
  color: #212121;
  text-decoration: underline;
}
.portfolio_elements .element_content a:hover {
  color: #ffa229;
}
.portfolio_elements .tags a {
  color: #212121;
}
.portfolio_elements .tags a:hover {
  color: #ffa229;
  text-decoration: none;
}
.portfolio_nav {
  margin-bottom: 30px;
}
/* Nav way
-------------------------------------------------------------------------------------*/
.nav_way_container {
  padding-top: 75px;
}
.nav_way {
  margin-bottom: 20px;
}
.nav_way ul li {
  float: left;
  list-style-type: none;
  padding: 0 7px;
  position: relative;
}
.nav_way ul li:after {
  content: "|";
  position: absolute;
  top: -2px;
  right: -3px;
  font-size: 18px;
  font-weight: 600;
}
.nav_way ul li:last-child:after {
  content: none;
}
.nav_way ul li a {
  font-size: 16px;
  color: #212121;
  text-decoration: none;
}
.nav_way ul li a:hover {
  color: #ffa229;
}
.nav_way ul li:last-child a {
  color: #ffa229;
  cursor: default;
}
/* Project
-------------------------------------------------------------------------------------*/
.project_container h1 {
  text-align: center;
}
.project_container .manzari_large {
  margin-bottom: 20px;
}
.project_container .manzari_large img {
  width: 100%;
}
.project_container .describe {
  margin: 40px 0 35px;
}
.project_container a.zoom {
  width: 250px;
  height: 280px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  position: relative;
}
.project_container a.zoom > img {
  width: 100%;
  height: 100%;
}
.project_container .zoom .ligth_box {
  position: absolute;
  width: 250px;
  height: 280px;
  top: 0;
  left: 0px;
  background: rgba(0, 0, 0, .5);
  display: none;
}
.project_container .zoom:hover .ligth_box {
  display: block;
}
.project_container .zoom .ligth_box img {
  margin-top: 45%;
}
.manzari_container span {
  font-size: 19px;
  font-family: 'PT Sans', sans-serif;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.project_container .btm_post {
  margin: 40px 0 40px;
}
.project_container .btm_post img {
  width: 100%;
}
.project_container h3 {
  font-size: 19px;
  font-family: 'PT Sans', sans-serif;
  text-transform: none;
  color: #212121;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}
/* News
------------------------------------------------------------------------------------*/
.news_container {
  padding: 0px 0 30px;
}
.news_container h1 {
  margin-bottom: 37px;
  text-align: center;
}
.news_container .date {
  text-align: center;
}
.news_container .date .date_in {
  display: table;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid #ffa229;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
.news_container .date .date_in p {
  vertical-align: middle;
  font-size: 16px:;
  color: #ffa229;
  margin-bottom: 0px;
  display: table-cell;
  height: 80px;
  width: 80px;
  font-weight: bold;
  line-height: 20px;
}
.news_container .news_content {
  margin-bottom: 40px;
}
.news_container p {
  margin-bottom: 30px;
}
.news_container .details {
  float: right;
}
.news_content .arrow_right {
  margin-top: -2px;
}
.news_content .title_new {
  font-size: 23px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 40px;
  padding-top: 30px;
  color: #212121;
}
.news_content .title_new:hover {
  text-decoration: none;
}
/* Contacts page
------------------------------------------------------------------------------------*/
.btn_links {
  text-align: center;
}
.left_arrow {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 0px;
}
.nav_btn {
  float: none !important;
  margin: auto;
}
.btn_links ul {
  display: inline-block;
  border: none;
  margin: 0;
}
.btn_links ul li {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: #212121;
  margin: 0 3px;
  float: left;
}
.btn_links ul li span,
.btn_links ul li a {
  border: none;
  border-radius: 0 !important;
  color: #212121;
  padding: 0;
  line-height: 20px;
}
.btn_links ul li a {
  border-bottom: 1px solid;
}
.btn_links ul li a:hover {
  background: none;
  border: none;
}
.btn_links ul li.prev,
.btn_links ul li.next {
  border-radius: 0;
}
.btn_links ul li.active span,
.btn_links ul li.active:hover span {
  background: none;
  color: #212121;
}
.btn_links ul li.arrows a,
.btn_links ul li.arrows span {
  padding: 0;
  background: url(../img/arrow.png);
  width: 20px;
  height: 20px;
  border: none;
}
.btn_links ul li.arrows a:hover {
   background-position: 0px -20px;
}
.btn_links ul li.left_arrow {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*.btn_links ul li.disabled a,
.btn_links ul li.disabled span {
  background: none;
}*/

/* Catalogs page
------------------------------------------------------------------------------------*/
.contacts_container h1 {
  margin-bottom: 25px;
}
.contacts_content {
  padding-bottom: 40px;
}
.contacts_content h2 {
  margin-bottom: 20px;
}
.contacts_content .contacts_form input[type="text"],
.contacts_content .contacts_form textarea {
  width: 100%;
  border: 1px solid #00C3BC;
  resize: none;
  padding-left: 8px;
  color: #a5a5a5;
  padding-right: 8px;
}
.contacts_content .contacts_form input[type="text"] {
  height: 30px;
  margin-bottom: 10px;
}
.contacts_content .contacts_form textarea {
  height: 140px;
}
/*.contacts_content .contacts_form a.add_file {

  margin-left: 10px;
  margin-bottom: 7px;
  display: inline-block;
}
.contacts_content .contacts_form a.add_file:after {
  content: '';
  background: url(../img/add_file.png) no-repeat;
  width: 15px;
  height: 15px;
  float: right;
  margin-left: 10px;
  position: relative;
  top: 4px;
}*/
.add_file {
  width: 165px;
  margin: 5px 0px 15px;
  font-size: 16px;
  color: #a5a5a5;
  font-family: 'PT Sans', sans-serif;
  position: relative;
}
.add_file input {
  opacity: 0;
  z-index: 10;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 10px;
}
.add_file p {
  padding-left: 10px;
  z-index: 1;
  cursor: pointer;
}
.contacts_content .contacts_form .btn_main {
  font-size: 20px;
  height: 30px;
}

/* News page
------------------------------------------------------------------------------------ */
.news_page_container  {
  padding-bottom: 35px;
}
.news_page_container h1 {
  margin-bottom: 25px;
}
.news_page_container .img_container {
  text-align: center;
}
.news_page_container a {
  font-size: 16px;
  color: #0540e6;
}
.news_page_container h2 {
  margin-bottom: 20px;
}
.news_page_container img {
  margin-top: 25px;
  margin-bottom: 35px;
}
.news_page_container .caption {
  padding-left: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.news_page_container .caption p {
  position: relative;
  background: #AFF1EE;
  padding: 10px 40px;
  margin: 0;
}
.news_page_container .caption p:before {
  content:'';
  background: url(../img/news/caption_icon.png);
  background-size: cover;
  width: 54px;
  height: 54px;
  position: absolute;
  left: -24px;
  top: -18px;
}
.news_page_container table.code_info {
  width: 360px;
  margin: 25px auto;
  border: 1px solid #000;
  text-align: center;
}
.news_page_container table.code_info tr td {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 3px 8px;
}
.news_page_container table.code_info tr td:first-child {
  font-style: italic;
}


/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
  background: #1B1B1B;
  padding-top: 18px;
  font-family: 'PT Sans', sans-serif;
}
.footer_container h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: left;
}
.footer_container .footer_nav li {
  line-height: 15px;
  margin-bottom: 14px;
}
.footer_container .footer_nav a {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  -o-transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
.footer_container .footer_nav li a:hover,
.footer_container .footer_nav li.active a {
  color: #4fc2bb;
}
.footer_container .news_wrap {
  padding-top: 11px;
}
.footer_container .news {
  margin-top: 11px;
  color: #fff;
}
.footer_container .news a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
.footer_container .news a:hover {
  color: #00DCD4;
}
.footer_container .news .date {
  color: #ababab;
}
.footer_container .footer_form {
  margin-top: 17px;
  width: 194px;
}
.footer_container .footer_form input[type="text"],
.footer_container .footer_form textarea {
  border: none;
  background: #fff;
  outline: none;
  font-size: 12px;
  color: #a5a5a5;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 5px;
  width: 100%;
}
.footer_container .footer_form textarea {
  resize: none;
  height: 68px;
}
.footer_container .footer_form .btn_main {
  width: 95px;
}
.footer_container .bottom {
  padding-bottom: 25px;
  padding-top: 20px;
}
.footer_container .copyright p {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
}
.footer_container .bottom .soc {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  background: url(../img/social.png) no-repeat;
  display: inline-block;
  -o-transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
.footer_container .footer_logo a img {
  -o-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
.footer_container .footer_logo a:hover img {
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer_container .bottom .fb {
  background-position: -43px 0;
}
.footer_container .bottom .vk {
  background-position: -87px 0;
}
.footer_container .bottom .gl {
  background-position: -132px 0;
}
.footer_container .bottom .tw:hover {
  background-position: 0 -43px;
}
.footer_container .bottom .fb:hover {
  background-position: -43px -43px;
}
.footer_container .bottom .vk:hover {
  background-position: -87px -43px;
}
.footer_container .bottom .gl:hover {
  background-position: -132px -43px;
}
.footer_container .footer_logo {
  text-align: center;
}
/* Media
------------------------------------------------------------------------------------ */
@media screen and (max-width: 1199px) {
}
@media screen and (max-width:  992px) {
  .main_content .decision a {
    margin: 0px;
  }
  .manzari_container a.zoom  {
    width: 150px;
    height: 150px;
  }
  .manzari_container .zoom .ligth_box {
    width: 150px;
    height: 150px;
  }
  .manzari_container .zoom .ligth_box img {
    margin-top: 45px;
  }
  .manzari_container .describe_text {
    margin-bottom: 50px;
  }
  .describe_text {
    padding: 0 10px 0 50px;
  }
  .team_container .member_container .member_image img {
    width: 100%;
  }
  .portfolio_elements img {
    height: 250px;
    width: 350px;
  }
/* Footer ----------------------- */
  .footer_container .footer_form {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .header_container .navbar-header {
    margin: 0;
  }
  .header_container .navbar-collapse {
    padding: 0;
    border: none;
  }
  .header_container button.navbar-toggle {
    border: none;
    opacity: .6;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 0;
  }
  .header_container button.navbar-toggle:focus,
  .header_container button.navbar-toggle:hover {
    background: none;
  }
  .header_container button.navbar-toggle:hover {
    opacity: 1;
  }
  .header_container button.navbar-toggle span.icon-bar {
    background: #00FFF7;
    width: 30px;
    height: 4px;
  }
  .header_container .navbar .nav {
    width: 100%;
    float: none !important;
    margin: 0;
    padding-top: 55px;
  }
  .header_container .navbar .nav li a {
    width: 100%;
    text-align: left;
  }
   .imperator {
    margin-top: 30px;
  }
    .team_container .member_container .member_image img {
    width: 180px;
    margin-bottom: 25px;
  }
  .contacts_content .contacts_form {
    margin-bottom: 20px;
  }
  .footer_container .news_col,
  .footer_container .form_col {
    padding-top: 35px;
  }
  .footer_container .bottom .copyright {
    text-align: center;
  }
  .footer_container .bottom .socials {
    text-align: center;
    margin-top: 15px;
  }
  .portfolio_elements img  {
    margin: auto;
    display: block;
    margin-bottom: 30px;
    float: none;
  }
  pre.small_pre {
  width: 100%;
}
  table.code_info {
    width: 100% !important;
  }

}
@media screen and (max-width: 382px) {
  .portfolio_elements img {
    height: auto;
    width: 100%;
  }
  .news_page_container .caption {
    padding-left: 25px;
  }
  .news_page_container .caption p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .news_page_container .caption p:before {
    content: '';
    width: 45px;
    height: 45px;
    left: -22px;
  }
}
@media screen and (max-width: 480px) {
  .news_page_container .img_container img {
    width: 100%;
  }
}